<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411886512137-a5bjvpaa5o2ad2cjsso8rsdlhv7cufik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411886512137-a5bjvpaa5o2ad2cjsso8rsdlhv7cufik</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ9lPeMGobEiKPJcrhrwaObufmzhFQHp8</string>
	<key>GCM_SENDER_ID</key>
	<string>411886512137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.ub.floodup</string>
	<key>PROJECT_ID</key>
	<string>floodup-7bb5a</string>
	<key>STORAGE_BUCKET</key>
	<string>floodup-7bb5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411886512137:ios:91eb6a22c0997cc32b30d8</string>
	<key>DATABASE_URL</key>
	<string>https://floodup-7bb5a.firebaseio.com</string>
</dict>
</plist>